body
{
    background: rgb(120, 132, 187);
}

.forgot-password
{
    width: 100%;
    height: 700px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.forgot-password-container
{
    width: 1100px;
    height: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left
{
    background: rgb(255, 255, 255);
    width: 265px;
    height: 235px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.left p
{
    color: black;
    font-weight: bolder;
    font-size: 130%;
}

.left .smaller-p
{
    color: rgb(105, 109, 105);
    font-size: 90%;
}

.center
{
    position: relative;
    background: rgb(70, 74, 89);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    width: 285px;
    height: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input
{
    outline: none;
}

input:-webkit-autofill {
    transition: all 5000s ease-in-out;
}

.center input[type='text']
{
    background: none;
    color: white;
    border: 1px solid rgb(133, 160, 224);
    padding-left: 10px;
    border-radius: 5px;
    width: 75%;
    height: 12%;
}

.center input[type='text']::placeholder
{
    color: rgb(156, 156, 156);
}

.center input[type='text']:focus::placeholder
{
    color: rgb(255, 255, 255);
}

.gender-hint
{
    position: absolute;
    text-align: left;
    font-size: smaller;
    margin-top: -60px;
    width: 70%;
    color: rgb(156, 156, 156);
    font-weight: 100;
}

.gender-hint-p
{
    color: rgb(156, 156, 156);
}

.gender-hint-p:hover
{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

#continue
{
    width: 75%;
    height: 12%;
    border-radius: 5px;
    border: 1px solid rgb(133, 160, 224);
    background: none;
}

#continue:hover
{
    background: rgb(120, 132, 187);
    border: 1px solid rgb(120, 132, 187);
}

#continue:active
{
    background: rgb(106, 118, 168);
    border: 1px solid rgb(106, 118, 168);
}


.right
{
    background: rgb(255, 255, 255);
    width: 265px;
    height: 235px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.right p
{
    color: black;
    font-weight: bolder;
    font-size: 130%;
}

.right .smaller-p
{
    color: rgb(105, 109, 105);
    font-size: 90%;
}

.forgot-password-container2
{
    width: 1100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neck
{
    width: 200px;
    height: 40px;
    background: rgb(255, 255, 255);
}

.center-bottom
{
    position: relative;
    background: rgb(70, 74, 89);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    width: 285px;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.center-bottom .req-format
{
    width: 85%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.center-bottom .req-format p
{
    font-size: small;
}

.center-bottom .wall
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition: 3s;
    background: rgb(58, 62, 75);
    z-index: 1;
}

.square
{
    color: black;
    text-align: center;
    font-size: larger;
    width: 30px;
    height: 35px;
    border-radius: 7px;
    border: 1px solid rgb(180, 180, 180);
}

.square:focus
{
    border: 1px solid rgb(37, 67, 150);
}

.beautiful-input-box
{
    position: relative;
    width: 220px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.beautiful-input-box div
{
    overflow: hidden;
}

#reset-psw
{
    width: 70%;
    height: 20%;
    border-radius: 5px;
    background: none;
    border: 1px solid rgb(133, 160, 224);
}

#reset-psw:hover
{
    background: rgb(120, 132, 187);
    border: 1px solid rgb(120, 132, 187);
}

#reset-psw:active
{
    background: rgb(106, 118, 168);
    border: 1px solid rgb(106, 118, 168);
}

.new-psw-input
{
    background: none;
    color: white;
    border: 1px solid rgb(133, 160, 224);
    padding-left: 10px;
    border-radius: 5px;
    width: 75%;
    height: 20%;
}

input.new-psw-input:focus::placeholder
{
    color: white;
}

button.new-psw-input:hover
{
    background: rgb(120, 132, 187);
    border: 1px solid rgb(120, 132, 187);
}

button.new-psw-input:active
{
    background: rgb(106, 118, 168);
    border: 1px solid rgb(106, 118, 168);
}