body
{
    background: #372a69;
}

.change
{
    padding-top: 100px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.change-container
{
    width: 1100px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-password
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    width: 350px;
    height: 420px;
}

.change-password input
{
    outline: none;
    width: 290px;
    height: 30px;
    color: black;
    padding-left: 5px;
}

.change-password input:focus
{
    border: 1px solid rgb(87, 189, 104);
}

.change-password input::placeholder
{
    color: rgb(201, 201, 201);
}

.change-password input:focus::placeholder
{
    color: rgb(87, 87, 87);
}

.change-password input[type="submit"]
{
    color: white;
    border: 1px solid black;
    background: rgb(87, 189, 104);
    width: 220px;
}

.change-password input[type="submit"]:hover
{
    background: rgb(77, 167, 92);
}

.change-password input[type="submit"]:active
{
    background: rgb(68, 151, 82);
}

h2
{
    color: black;
}

.validationPsw
{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.validationPsw p
{
    font-size: 80%;
}

.invalid
{
    color: darkred;
}

.valid
{
    color: darkgreen;
}
