{% extends "base.html" %}

{% load static %}

{% block title %}Account activation{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/account-activation.css' %}">
{% endblock %}

{% block content %}
    {% include "navbar.html" %}
    <div class="verification">
        <div class="verification-container">
            <div class="verification-block">
                <div id="divZero" class="content">
                    <i class="bi bi-envelope-fill" id="envelope">
                        <p>VERIFY YOUR EMAIL ADDRESS</p>
                    </i>
                    <hr>
                </div>
                <div id="divOne" class="content">
                    <p>A verification code has been sent</p>
                    <p>to <a class="user-email" href="mailto:{{ user_email }}">{{ user_email }}</a></p>
                </div>
                <div id="divTwo" class="content">
                    Please check your inbox and enter the verification
                    code below to verify your email address. The code
                    expires in 10 minutes after registration.
                </div>
                <div id="divThree" class="content">
                    <div class="beautiful-input-box">
                        <div>
                            <input type="text" class="square" maxlength="6" name="code">
                        </div>
                        <div>
                            <input type="text" class="square" maxlength="5">
                        </div>
                        <div>
                            <input type="text" class="square" maxlength="4">
                        </div>
                        <div>
                            <input type="text" class="square" maxlength="3">
                        </div>
                        <div>
                            <input type="text" class="square" maxlength="2">
                        </div>
                        <div>
                            <input type="text" class="square" maxlength="1">
                        </div>
                    </div>
                </div>
                <div id="divFour" class="content">
                    <button id="verify"><p>Verify</p></button>
                </div>
                <div id="divFive" class="content">
                    <div class="actions">
                        <a href="/reg/">Registrate again</a>
                        <a href="/login/">Log in</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hints-container">
        </div>
    </div>
    <script src="{% static 'js/account-activation/account-activation.js' %}"></script>
{% endblock %}
