<nav class="navigation-bar">
    <div class="container">
        <ul>
            <li class="navbar-logo">
                <a href="/">
                    <img src="/media/BankLogo.png"id="navbar-logo-img"></a>
            </li>
            <li class="navbar-menu" id="profile">
                <a href="/account/">
                    <div class="navbar-link">Profile</div>
                </a>
            </li>
            <li class="navbar-menu" id="balance-replenishment">
                <a href="/balance-replenishment/">
                    <div class="navbar-link">Replenish</div>
                </a>
            </li>
            <li class="navbar-menu" id="currency-convertation">
                <a href="/currency-convertation/">
                    <div class="navbar-link">Convertation</div>
                </a>
            </li>
            <li class="navbar-menu" id="logout">
                <a href="/" id="logout-button">
                    <div class="navbar-link">Log out</div>
                </a>
            </li>
        </ul>
    </div>
</nav>
