{% extends "base.html" %}

{% load static %}

{% block title %}Password recovery{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/forgot-password.css' %}">
{% endblock %}

{% block content %}
    {% include "navbar.html" %}
    <div class="forgot-password">
        <div class="forgot-password-container">
            <div class="left">
                <p>1. Restore password</p>
                <div>
                    <p class="smaller-p">
                        Enter your email, full name
                    </p>
                    <p class="smaller-p">
                        and your gender. After it
                    </p>
                    <p class="smaller-p">
                        press the button "continue"
                    </p>
                </div>
            </div>
            <div class="center">
                <input type="text" id="email" name="email" placeholder="email">
                <input type="text" id="gender" readonly>
                <p class="gender-hint">
                    <span class="gender-hint-p" id="male-hint">MALE</span>
                    <span class="gender-hint-p" id="female-hint">FEMALE</span>
                </p>
                <input type="text" id="fullname" placeholder="Lastname Firstname">
                <button id="continue">Continue</button>
            </div>
            <div class="right">
                <p>2. After filing out</p>
                <div>
                    <p class="smaller-p">
                        After filling out the form,
                    </p>
                    <p class="smaller-p">
                        enter code, that was
                    </p>
                    <p class="smaller-p">
                        sent on your inbox
                    </p>
                </div>
            </div>
        </div>
        <div class="forgot-password-container2">
            <div class="neck"></div>
            <div class="center-bottom">
                <div class="req-format">
                    * Required format :
                    <p>email main part must be longer than 2</p>
                    <p>allowed domains: mail.ru, inbox.ru, list.ru, gmail.com</p>
                    <p>allowed genders: male, female</p>
                    <p>full name example: Bobby Fischer</p>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/forgot-password/forgot-password.js' %}"></script>
{% endblock %}
