{% extends "base.html" %}

{% load static %}

{% block title %}Privacy Policy{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/information.css' %}">
{% endblock %}

{% block content %}
    {% include "navbar.html" %}

    <div class="info">
        <div class="info-container">
            <div class="header" id="main-header">
                <h1>Privacy Policy and Terms of use</h1>
            </div>
            <ol class="navigation" id="main-navigation">
                <li>
                    <a href="#privacy">Privacy policy</a>
                </li>
                <li>
                    <a href="#terms">Terms of use</a>
                </li>
                <li>
                    <a href="#sitemap">Site map</a>
                </li>
            </ol>

            <div class="header" id="privacy">
                <h2>Privacy Policy</h2>
                <h3>Effective date: June 25, 2023</h3>
            </div>
            <ol class="navigation">
                <li>
                    <a href="#info1">General information</a>
                </li>
                <li>
                    <a href="#info2">What Personal Data do we collect?</a>
                </li>
                <li>
                    <a href="#info3">Why do we store Personal Data?</a>
                </li>
                <li>
                    <a href="#info4">How do we process Personal Data?</a>
                </li>
                <li>
                    <a href="#info5">Do we share Personal Data?</a>
                </li>
                <li>
                    <a href="#info6">How do we use cookies and tracking technologies?</a>
                </li>
                <li>
                    <a href="#info7">How do we protect your Personal Data?</a>
                </li>
                <li>
                    <a href="#info8">What else do you need to know?</a>
                </li>
                <li>
                    <a href="#info9">Contact us</a>
                </li>
                <li>
                    <a href="#info10">Definitions</a>
                </li>
            </ol>
            <div class="contains" id="info1">
                <h3>1. General information</h3>
                <p>
                    <a href="mailto:itstepbankwebsite@gmail.com">ItStepBank</a>
                    takes the protection of your privacy and the
                    security of personal data seriously.This privacy policy
                    describes what personal data we collect, why we hold it,
                    how we process this data, whether we share it with third
                    parties, how we use cookies and tracking technologies,
                    the privacy protection options available, your rights in
                    relation to personal data, the security measures in place
                    to protect your personal information and other important
                    information.
                </p>
            </div>
            <div class="contains" id="info2">
                <h3>2. What personal data do we collect?</h3>
                <ul>
                    <li>
                        First and last name: We collect your full name to identify and contact you.
                    </li>
                    <li>
                        Contact Information: This includes your email address, that we
                        use to contact you, send you notifications, and keep your account secure.
                    </li>
                    <li>
                        Financial Information: We may collect information about your financial
                        accounts, credit or debit cards in order to facilitate payments and transactions
                        within our payment system.
                    </li>
                </ul>
            </div>
            <div class="contains" id="info3">
                <h3>3. Why do we store Personal Data?</h3>
                <ul>
                    <li>
                        Provision and management of your account: We use your personal data
                        to create and manage your account in our payment system so that you can
                        make payments, transfers and other financial transactions.
                    </li>
                    <li>
                        Payment and Transaction Processing: Your personal data is used to process
                        payments, transfers and other financial transactions that you initiate through
                        our payment system.
                    </li>
                    <li>
                        Security: We use your personal data to ensure the security of your account,
                        prevent fraud, detect and solve security problems and protect the interests
                        of ItStepBank and our users.
                    </li>
                    <li>
                        Compliance with legislation: We may store your personal data in accordance
                        with applicable laws, including data retention requirements for audit, taxation,
                        accounting and compliance with financial regulations.
                    </li>
                </ul>
            </div>
            <div class="contains" id="info4">
                <h3>4. How do we process Personal Data?</h3>
                <p>
                    We process your personal data in accordance with applicable
                    data protection laws and our privacy policy.
                    Processing includes the following actions:
                </p>
                <ul>
                    <li>
                        Collection: We collect personal data that you provide
                        to us when registering and using our payment system, as
                        well as data obtained during your financial transactions.
                    </li>
                    <li>
                        Keeping: We store your personal data in a secure form on
                        our servers or the servers of our partners in accordance
                        with our security policies.
                    </li>
                    <li>
                        Using: We use your personal data to provide services, make
                        payments and transactions, communicate with you, as well as
                        for the purposes of analyzing, improving and developing our
                        payment system.
                    </li>
                    <li>
                        Broadcast: We may transfer your personal data to third parties
                        only in accordance with our privacy policy and applicable law,
                        including when it is necessary to process payments, comply with
                        legal requirements or protect the interests of ItStepBank and
                        our users.
                    </li>
                    <li>
                        Analysis: We may analyze your personal data to determine usage trends
                        , improve security, improve functionality and develop new services.
                    </li>
                </ul>
            </div>
            <div class="contains" id="info5">
                <h3>5. Do we share Personal Data?</h3>
                <p>
                    We may transfer your personal data to third parties
                    only in the following cases:
                </p>
                <ul>
                    <li>
                        Approval: We may transfer your personal data to
                        third parties with your consent or upon your request.
                    </li>
                    <li>
                        Financial Transactions: We may transfer your personal
                        data to payment providers, banks and other participants
                        in financial transactions as part of the processing and
                        execution of your payments and transactions.
                    </li>
                    <li>
                        Legal Requirements: We may disclose your personal data in 
                        response to requests from law enforcement agencies, court
                        decisions, compliance with legislation or other legal requirements.
                    </li>
                </ul>
            </div>
            <div class="contains" id="info6">
                <h3>6. How do we use cookies and tracking technologies?</h3>
                <p>
                    We use cookies and similar technologies for various purposes:
                </p>
                <ul>
                    <li>
                        Improving functionality: We use cookies to ensure the
                        proper functioning of our payment system, including
                        saving your settings and preferences.
                    </li>
                    <li>
                        Analysis and Improvement: We use cookies to analyze user
                        usage and behavior in order to improve our payment system,
                        provide a personalized experience and offer more relevant
                        services and recommendations.
                    </li>
                </ul>
            </div>
            <div class="contains" id="info7">
                <h3>7. How do we protect your Personal Data?</h3>
                <p>
                    We take security measures to protect your personal
                    data from unauthorized access, use or disclosure.
                    We use technical, administrative and physical security
                    measures such as data encryption, access control and
                    monitoring to protect your personal data from loss,
                    theft and unauthorized access.
                </p>
            </div>
            <div class="contains" id="info8">
                <h3>8. What else do you need to know?</h3>
                <p>
                    Our privacy policies may change from time to time in
                    accordance with changes in our services and legal
                    requirements. We recommend that you review the latest
                    version of our privacy policy on our website from time to time.
                </p>
            </div>
            <div class="contains" id="info9">
                <h3>9. Contact us</h3>
                <p>
                    If you have any questions, comments or need additional information, please
                    contact us via <a href="mailto:itstepbankwebsite@gmail.com">ItStepBank</a>.
                </p>
            </div>
            <div class="contains" id="info10">
                <h3>10. Definitions</h3>
                <dl>
                    <dt>
                        Personal data
                    </dt>
                    <dd>
                        Any information relating to an identified or identifiable individual.
                        Identifiable is an individual who can be identified directly 
                        (for example, by name, identifier) or indirectly through the
                        use of additional information, which may include elements such as
                        the physical, physiological, genetic, mental, economic, cultural or
                        social identity of this individual.
                    </dd>
                    <dt>
                        Processing of personal data
                    </dt>
                    <dd>

                        Any action or set of actions performed with personal data, including
                        collection, recording, organization, structuring, storage, adaptation,
                        modification, extraction, consulting, use, disclosure by transmission,
                        distribution or otherwise granting access, alignment or combination
                         restriction, deletion or destruction of data.
                    </dd>
                    <dt>
                        Cookies
                    </dt>
                    <dd>
                        Small text files that are stored on your device when you visit a website or
                        use an application. They contain information about your activity and preferences
                        and are used to improve functionality, analyze usage and provide a personalized experience.
                    </dd>
                    <dt>
                        Third parties
                    </dt>
                    <dd>
                        Persons or organizations that are not ItStepBank, including external service providers,
                        payment processing partners, analytical services and advertising partners with whom
                        ItStepBank may cooperate in the provision of services or processing of personal data.
                    </dd>
                    <dt>
                        Privacy Policy
                    </dt>
                    <dd>
                        A document that describes how ItStepBank collects, uses, stores and protects users'
                        personal data, as well as regulates their processing and transfer to third parties.
                    </dd>
                    <dt>
                        ItStepBank Payment System
                    </dt>
                    <dd>
                        A payment system provided by ItStepBank that allows users to perform financial
                        transactions, make payments, receive and send funds, as well as perform other
                        actions related to financial transactions.
                    </dd>
                </dl>
            </div>

            <div class="header" id="terms">
                <h2>Terms of use</h2>
                <h3>Effective date: June 25, 2023</h3>
            </div>
            <ol class="navigation">
                <li>
                    <a href="#info11">Acceptance of the terms</a>
                </li>
                <li>
                    <a href="#info12">Registration and account</a>
                </li>
                <li>
                    <a href="#info13">Use of services</a>
                </li>
                <li>
                    <a href="#info14">Privacy and Security</a>
                </li>
                <li>
                    <a href="#info15">Limitations of liability</a>
                </li>
                <li>
                    <a href="#info16">Intellectual Property</a>
                </li>
                <li>
                    <a href="#info17">Changes to the Terms</a>
                </li>
            </ol>
            <div class="contains" id="info11">
                <h3>1. Acceptance of the terms</h3>
                <p>
                    By using the ItStepBank payment system, you confirm your
                    consent and acceptance of these terms of use. If you do
                    not agree to these terms, please stop using the ItStepBank
                    payment system.
                </p>
            </div>
            <div class="contains" id="info12">
                <h3>2. Registration and account</h3>
                <p>
                    To use the ItStepBank payment system, you may need to
                    create an account. You undertake to provide accurate and
                    complete data during registration and to keep your data
                    up-to-date. You are responsible for the security of your
                    account and password, and any actions performed through
                    your account are considered to be committed by you.
                </p>
            </div>
            <div class="contains" id="info13">
                <h3>3. Use of services</h3>
                <p>
                    You agree to use the ItStepBank payment system only for legitimate
                    purposes and in accordance with applicable law. You are responsible
                    for any transactions made through your account.
                </p>
            </div>
            <div class="contains" id="info14">
                <h3>4. Privacy and Security</h3>
                <p>
                    We make reasonable efforts to ensure the confidentiality and security
                    of your personal data. However, you understand and agree that no data
                    transmission over the Internet or electronic storage system is absolutely
                    secure. You bear the risks associated with using the ItStepBank payment system.
                </p>
            </div>
            <div class="contains" id="info15">
                <h3>5. Limitations of liability</h3>
                <p>
                    ItStepBank is not responsible for any losses, direct or indirect, related to the
                    use of the ItStepBank payment system or the inability to use it, including losses
                    caused by errors, omissions, interruptions, delays in the operation of the system or data loss.
                </p>
            </div>
            <div class="contains" id="info16">
                <h3>6. Intellectual Property</h3>
                <p>
                    All intellectual property rights related to the ItStepBank payment system belong to
                    ItStepBank or the respective copyright holders. You are granted a limited, non-exclusive
                    and non-transferable license to use the ItStepBank payment system in accordance with
                    the terms and restrictions set by ItStepBank.

                </p>
            </div>
            <div class="contains" id="info17">
                <h3>7. Changes to the Terms</h3>
                <p>
                    ItStepBank reserves the right to change the terms of use at any time.
                    The updated terms and conditions will be published on our website or
                    otherwise provided to you. Your use of the ItStepBank payment system 
                after making changes means your acceptance of the updated terms.
                </p>
            </div>

            <div class="header" id="sitemap">
                <h2>Site map</h2>
            </div>
            <ol class="navigation" id="sitemap-navigation">
                <li>
                    <a href="/">Homepage</a>
                </li>
                <li>
                    <a href="/login/">Login</a>
                </li>
                <li>
                    <a href="/reg/">Registrate</a>
                </li>
                <li>
                    <a href="/account/activation/">Acivate account</a>
                </li>
                <li>
                    <a href="">Information</a>
                </li>
                <li>
                    <a href="/forgot-password/">Forgot-password</a>
                </li>
                <li>
                    <a href="/account/">Profile</a>
                </li>
                <li>
                    <a href="/balance-replenishment/">Replenish balance</a>
                </li>
                <li>
                    <a href="/new-password/">New password</a>
                </li>
                <li>
                    <a href="/cards/">Cards</a>
                </li>
                <li>
                    <a href="/currency/">Currency</a>
                </li>
                <li>
                    <a href="/currency/convertation/">Currency convertation</a>
                </li>
                <li>
                    <a href="/transaction/">Transaction</a>
                </li>
                <li>
                    <a href="/err-401/">401 Unauthorized Error</a>
                </li>
                <li>
                    <a href="/err-404">404 Not Found Error</a>
                </li>
                <li>
                    <a href="/err-500/">500 Server Error</a>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
