<nav class="navigation-bar">
    <div class="container">
        <ul>
            <li class="navbar-logo">
                <a href="/">
                    <img src="/media/BankLogo.png"id="navbar-logo-img"></a>
            </li>
            <li class="navbar-menu" id="contact">
                <a href="mailto:itstepbankwebsite@gmail.com" target="_blank">
                    <div class="navbar-link">Contact us</div>
                </a>
            </li>
            <li class="navbar-menu" id="login">
                <a href="/login/">
                    <div class="navbar-link">Log in</div>
                </a>
            </li>
            <li class="navbar-menu" id="reg">
                <a href="/reg/">
                    <div class="navbar-link">Register</div>
                </a>
            </li>
            <li class="navbar-menu" id="acc-ver">
                <a href="/account/activation/">
                    <div class="navbar-link">Verification</div>
                </a>
            </li>
        </ul>
    </div>
</nav>
