{% extends "base.html" %}

{% load static %}

{% block title %}Change password{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/new-password.css' %}">
{% endblock %}

{% block content %}
    {% include "bank-navbar.html" %}
    <div class="change">
        <div class="change-container">
            <form class="change-password">
                <h2>Change password</h2>
                <input type="password" id="oldPsw" placeholder="Old password" name="old_password" required>
                <input type="password" id="newPsw1" placeholder="New password" name="password" required>
                <div class="validationPsw">
                    <p id="validationOne" class="valid">
                        Password must not include part of full name
                    </p>
                    <p id="validationTwo" class="valid">
                        Password must not include part of your email
                    </p>
                    <p id="validationThree" class="invalid">
                        Password must be longer than 6 characters
                    </p>
                    <p id="validationFour" class="invalid">
                        Password must containt at least one digit
                    </p>
                </div>
                <input type="password" id="newPsw2" placeholder="Repeat new password" name="password2" required>
                <input type="submit" value="Change password">
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/check-auth.js' %}"></script>
    <script src="{% static 'js/new-password/new-password.js' %}"></script>
{% endblock %}
